<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>UAWC Instagram collage creator</title>
	<link rel="stylesheet" href="{{ asset('bundles/app/css/styles.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/app/css/jquery.steps.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/app/css/normalize.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/app/css/helpers.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/app/css/select2.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/app/css/image-picker.css') }}">
	<script src="{{ asset('bundles/app/js/jquery-1.11.3.min.js') }}"></script>
	<script src="{{ asset('bundles/app/js/jquery.steps.min.js') }}"></script>
	<script src="{{ asset('bundles/app/js/select2.full.min.js') }}"></script>
	<script src="{{ asset('bundles/app/js/image-picker.min.js') }}"></script>
	<script src="{{ asset('bundles/app/js/init.js') }}"></script>
</head>
<body>
	<h1>UAWC Instagram collage creator</h1>
	{% block body %}{% endblock %}
</body>
</html>